:root {
  --text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background: var(--secondary-color);
}

.header-list .current {
  color: var(--accent-color);
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

.logo-link {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-link span {
  color: var(--accent-color);
}

.header-item-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--accent-color);
}

.header-item-mail,
.header-item-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-item-mail:hover,
.header-item-mail:focus {
  color: var(--accent-color);
}

.header-item-tel:hover,
.header-item-tel:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background: #2f303a;
}
.hero_elements {
  padding: 200px 452px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 30px;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background: var(--accent-color);
  display: block;
  width: 216px;
  padding: 10px 0;
  margin: 0 auto;
  border-radius: 4px;
  border-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--secondary-color);
  background: #188ce8;
}

/* Features */

.features {
  background: #F5F5F5;
}
.features-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  width: 270px;
}

/* Services */

.services {
  padding-bottom: 94px;
  background: #f5f5f5;
}

.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/* Our team */

.team {
  background: #f5f4fa;
}

.team-item {
  text-align: center;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.team-img {
  margin-bottom: 30px;
}

.team-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-bottom: 30px;
}

/* Footer */

.footer {
  background: #2f303a;
}

.footer_elements {
  padding: 60px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo span {
  color: var(--accent-color);
}

.footer-text {
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 9px;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail {
  display: inline-block;
  margin-bottom: 9px;
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/* Portfolio */

/* Projects */

.filter {
  background: #f5f5f5;
}

.filter-list {
  margin-bottom: 50px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  display: block;
  margin: 0 auto;
  padding: 6px 25px;
  border-style: none;
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--secondary-color);
  background: var(--accent-color);
}

.project-item {
  width: 370px;
  border-bottom: 1px solid #eeeeee;
}

.project-img {
  margin-bottom: 20px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
